button {
	width : 10%;
	height : 10%;
    }

#boligtype {

    width : 25%;
    height : 300px;
    display : flex;
    flex-wrap : wrap;
    border : 1px solid green;

    div {
	border : 1px solid red;
	width : 49%;
	color : blue;
	//height : 20px;

	input {
	    //border-color : red;
	    //height : 20px;
	}

	hr {
	   // width : 100%;
	    color : blue;
	}
	
	button {
	    width : 100%;
	    height : 100%;
	}
    }
}
