#house {
    border : 1px solid green;
    width : 20%;

    img {
	width : 100%;
	height : auto;
    }

    .energi {
	border : 1px solid orange;
	width: 5%;
	float : right;
	margin-top : -10%;
	text-align : center;
	background : orange;
    }

    .price {
	float : right;
	border : 1px solid blue;
	width : 20%;
	margin-top : -5%;
    }
}

#house2 {
    border : 1px solid red;
    width : 20%;
    margin-top : 10px;

    img {
	width : 100%;
	height : auto;
    }

    div {
	border : 1px solid green;
	display : flex;
	flex-wrap : wrap;

	div:nth-child(1) {
	    width : 70%;
	}

	div:nth-child(2) {
	    width : 25%;
	    //text-align : center;
	    padding-left : 2%;
	}

	div:nth-child(3) {
	    width : 20%;
	}

	div:nth-child(4) {
	    width : 70%;
	}

	div:nth-child(5) {
	    width : 100%;
	}

	hr {
	    width : 100%;
	}

	div:nth-child(9) {
	    width : 50%;
	    color: green;
	    margin-right : 0%;
	    padding-left : 10%;
	}

	div {
	    border : 1px solid yellow;
	}

    }

    /*div:first-child {
	width : 70%;
    }*/

    /*div:nth-child(2) {
	width : 30%;
    }*/
}
